<!-- Copyright (c) 2015 IBM Corp.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.-->
<server description="Game On! Java-based Room">

    <featureManager>
        <feature>websocket-1.1</feature>
        <feature>jsonp-1.0</feature>
        <feature>jaxrs-2.0</feature>
        <feature>cdi-1.2</feature>
    </featureManager>

    <!-- This is required to prevent the web apps from being lazily loaded -->
    <webContainer deferServletLoad="false"/>

    <httpEndpoint host="*" httpPort="9080" httpsPort="-1" id="defaultHttpEndpoint"/>

    <logging traceSpecification="*=info:org.gameontext.*=all:map.client=all"/>

    <!-- This is required to prevent the web apps from being lazily loaded -->
    <webContainer deferServletLoad="false"/>

    <!-- The JVM can get confused about available CPU in virtualized envs -->
    <executor coreThreads="5"/>

    <webApplication id="gojava" location="gojava-1.0-SNAPSHOT.war" name="gojava"/>

    <!-- Environment specific config.
         Set TARGET=production as env var to include production-config.xml, e.g. -->
    <!-- include location="${env.TARGET}-config.xml" optional="true"/ -->
</server>
