# for standard stuff
/target/

# for eclipse
/.classpath
/.factorypath
/.settings
/.project

/.apt_generated/

# for emacs eclim (don't ask me why (yet), I need to spelunk to find out)
/bin/

# for mac
*.DS_Store
